---
# Only the main Sass file needs front matter (the dashes are enough)
search: false
---

@charset "utf-8";

@import "minimal-mistakes/skins/{{ site.minimal_mistakes_skin | default: 'default' }}"; // skin
@import "minimal-mistakes"; // main partials

.archive__item-content {
  display: flex;
  flex-direction: row; 
  justify-content: space-between;
  align-items: flex-start;
}

.archive__item-image img {
  width: 150px;  // Adjust to the desired width.
  height: auto;  // Maintain the image's aspect ratio.
}